

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Registration form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post" [formGroup]="regForm">
                            <img class="image-logo" src="/assets/img/revlogo.png" alt="This picture is not in assets"> 
                            <h3 class="text-center rev-color">Registration</h3>
                            <div class="form-group">
                                <label for="username" class="rev-color">Email:</label><br>
                                <input type="text" id="defaultRegisterFormUsername" class="form-control" formControlName="username" placeholder="">
                                <p>{{usernameError}}</p>
                            </div>
                            <div class="form-group">
                                <label for="password" class="rev-color">Password:</label><br>
                                <input type="password" id="defaultRegisterFormPassword" class="form-control"  formControlName="password" placeholder="Password">
                                <p>{{passwordError}}</p>
                                                       </div>                     

                           

                              <div class="row">
                                <div class="col-12 align-button">
                                  <div class="form-group">
                                    <input type="button" id="registerButton" (click)="packageAndShip()" routerLink='/login' class="btn btn-login" value="Register">   
                                  </div>
                                </div>
                              </div>                            
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </body>
