<h1 class="d-flex justify-content-center mt-5">Review X Movie Here:</h1>
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <form>
                <div class="card-group">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mt-3 d-flex justify-content-center">
                                <div class="col-4">
                                    <select class="custom-select" name="rating">
                                        <option selected disabled>Select a Rating:</option>
                                        <option value="1">Horrible</option>
                                        <option value="2">Bad</option>
                                        <option value="3">Neutral</option>
                                        <option value="4">Good</option>
                                        <option value="5">Great</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <textarea class="form-control" name="comment">Comments</textarea>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center mt-4 mr-4">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>