<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="col d-flex justify-content-center">
        <a class="navbar-brand">Welcome to Movie Ratings search for a Movie to rate:</a>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="d-flex justify-content-center mt-5">
    <div class="col-8 card-group">
        <div class="card">
            <div class="card-body">
                <h1 class="d-flex justify-content-center">Your Reviews</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore libero vero corporis atque accusamus, expedita sed eum sunt odio earum facere consectetur nesciunt ad exercitationem! Reprehenderit molestiae quisquam consectetur facilis.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit vitae eum esse, cumque ab reiciendis blanditiis quos debitis ex repellendus quidem ipsam odio aperiam quaerat voluptate magni saepe sit aspernatur!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis praesentium possimus dolor sunt. Similique magni ratione autem a adipisci commodi dicta maxime quis omnis sequi, temporibus, natus fuga tempora. Autem.</p>
            </div>
        </div>
    </div>
</div>